git+git://github.com/openstack/fuel-devops.git@3.0.1
paramiko
six
requests>=2.2.0
pytest>=2.9
docker-py
docker-compose==1.7.1
urllib3
psycopg2
git+git://git.openstack.org/openstack/python-k8sclient.git
