*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
include
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
local
lib64
MANIFEST
TAGS

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.cache
.project
.pydevproject
.idea

# Local example
example_local.py

# Local settings
local_settings.py

# Documentation
doc/_build/

# Logs
/logs
tests.log

# Certs
/ca.crt
/ca.pem

# Cache
/.cache

# Snapshot configs
config_test_*.ini
