git+git://github.com/openstack/fuel-devops.git@3.0.1
paramiko
six
requests>=2.2.0
oslo.config>=3.12.0 # Apache-2.0
pytest>=2.9
docker-py
docker-compose==1.7.1
urllib3
psycopg2
python-k8sclient==0.3.0
junit-xml
